<div class="search-container">
  <label for="tech-search" class="sr-only">Search technical articles:</label>
  <div class="search-wrapper">
    <input type="text" [formControl]="searchControl"/>
    <ul>
      @if (results$ | async; as results){
        @for (item of results; track item){
          <li>{{ item }}</li>
        }
      }
    </ul>
  </div>
</div>


<div class="nutrition-label">
  <header class="header">
    <h1 class="bold">Nutrition Facts</h1>
    <div class="serving">
      Serving Size <span contenteditable="true"> (55g)</span><br>
      Servings Per Container <span contenteditable="true">About 8</span>
    </div>
  </header>

  <div class="bar-thick"></div>

  <div class="amount-per-serving">
    <p class="bold small-text">Amount Per Serving</p>
    <div class="line-flex">
      <span class="bold">Calories</span> <span class="enterText" contenteditable="true">230</span>
      <span class="right">Calories from Fat <span contenteditable="true">40</span></span>
    </div>
  </div>

  <div class="bar-medium"></div>

  <div class="daily-value-header">
    <span class="bold small-text right">% Daily Value*</span>
  </div>

  <div class="nutrient-line">
    <span class="bold">Total Fat</span> <span contenteditable="true">8</span>g
    <span class="bold right"><span contenteditable="true">12</span>%</span>
  </div>
  <div class="nutrient-line indent">
    Saturated Fat <span contenteditable="true">1</span>g
    <span class="bold right"><span contenteditable="true">5</span>%</span>
  </div>
  <div class="nutrient-line indent italic">
    Trans Fat <span contenteditable="true">0</span>g
  </div>

  <div class="nutrient-line">
    <span class="bold">Cholesterol</span> <span contenteditable="true">0</span>mg
    <span class="bold right"><span contenteditable="true">0</span>%</span>
  </div>

  <div class="nutrient-line">
    <span class="bold">Sodium</span> <span contenteditable="true">160</span>mg
    <span class="bold right"><span contenteditable="true">0</span>%</span>
  </div>

  <div class="nutrient-line">
    <span class="bold">Total Carbohydrate</span> <span contenteditable="true">37</span>g
    <span class="bold right"><span contenteditable="true">12</span>%</span>
  </div>
  <div class="nutrient-line indent">
    Dietary Fiber <span contenteditable="true">4</span>g
    <span class="bold right"><span contenteditable="true">16</span>%</span>
  </div>
  <div class="nutrient-line indent">
    Sugars <span contenteditable="true">1</span>g
  </div>

  <div class="nutrient-line no-border">
    <span class="bold">Protein</span> <span contenteditable="true">3</span>g
  </div>

  <div class="bar-thick"></div>

  <p class="footnote">* Percent Daily Values are based on a 2,000 calorie diet.</p>
</div>
